# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=pwf6qbjc
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ectcwerjdpiurubdpxcp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Email
RESEND_API_KEY=

# App links
NEXT_PUBLIC_APP_URL=https://app.paywatch.app
